name: Terraform Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # -------- VPC --------
      - name: Terraform Init (VPC)
        working-directory: vpc
        run: terraform init

      - name: Terraform Apply (VPC)
        working-directory: vpc
        run: terraform apply -auto-approve

      # -------- EC2 --------
      - name: Terraform Init (EC2)
        working-directory: ec2
        run: terraform init

      - name: Terraform Apply (EC2)
        working-directory: ec2
        run: terraform apply -auto-approve
